:root {
  --branding-color: #91695f;
  --background-color: #c4c1e0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}


h1 {
  font-size: 66px;
  font-family: "Kalam", cursive;
}

p {
  margin: 20px 15px;
  font-size: 12px;
}

nav a:active,
nav a:hover {
  color: var(--branding-color);
}

.brand-name {
  font-family: "Kalam", cursive;
  padding-left: 20px;
  font-size: 28px;

}

.navigation-links {
  font-size: 12px;
}

.hero-section {
  margin: 46px 0 0;
  background-image: url(/Images/hero-2.jpg);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--branding-color);
}

.content-container {
  text-align: center;
  margin: 40px;
}

.content-container h2 {
  font-family: "Kalam", cursive;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showcase-card {
  padding: 10px;
  border-radius: 4px;
  /*background-image: url(/Images/about-background.jpg);
  background-size: contain;*/
  background: rgba(255, 233, 227, .2);
}

.showcase-card img {
  height: 150px;
}

.card-text h4 {
  font-size: 14px;
}

.card-text p {
  font-size: 9px;
  margin: 0;
}

/*     BUTTONS     */

/*     Next Button     */

.next-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-content button {
  background-color: transparent;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 80px;
  width: 80px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
}

.next-content button:hover {
  background: #ba8d82;
  transition: all .2s ease;
}

.next-content a {
  text-decoration: none;
  color: #91695f;
}

.next-content a:hover {
  color: aliceblue
}

.round-button {
  border-radius: 70%;
}


/*     Launch button     */

.button-content {
  margin: 50px 0;
}

.launch-button {
  border: 2px solid #91695f;
  background: transparent;
}

.launch-button:hover {
  background: #ba8d82;
  color: aliceblue;
  transition: all .2s ease;
}

.button-content a {
  text-decoration: none;
  color: #91695f;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 4px;
  line-height: 1;
}

#intro {
  font-family: "Kalam", cursive;
}


@media (max-width: 900px) {
  .showcase-card {
    margin-bottom: 10px;
  }

  .showcase-card img {
    margin-top: 20px;
  }
}