:root {
  --background-color: #c4c1e0;
  --branding-color: #91695f;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}


h1 {
  font-family: "Kalam", cursive;
  font-size: 66px;
}

p {
  font-size: 12px;
  margin: 20px 15px;
}

footer {
  background-image: url(/Images/footer1.jpg);
  background-size: 100%;
  border-top-left-radius: 50%;
  padding-top: 10px;
}


footer i,
.contact-hero-section i {
  background: rgba(196, 193, 224, 0.6);
  border-radius: 50%;
  color: var(--branding-color);
  cursor: pointer;
  padding: 10px;
  transition: all 150ms ease-in-out;
}

footer i:hover,
.contact-hero-section i:hover {
  background: var(--branding-color);
  color: rgba(196, 193, 224, 0.7);
}

ul li {
  margin: 10px;
}

.nav {
    padding: 0 10px 0 10px;
  }

.brand-name {
  font-family: "Kalam", cursive;
  font-size: 28px;
  padding-left: 20px;
}

.navigation-links {
  font-size: 12px;
}

.hero-section {
  background-image: url(/Images/hero-2.jpg);
  margin: 58px 0 0;
  padding-bottom: 150px;
}

.intro {
  align-items: center;
  color: var(--branding-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-container {
  margin: 40px;
  text-align: center;
}

.content-container h2 {
  font-family: "Kalam", cursive;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*     About HTML     */

.about-content {
  color: var(--branding-color);
}

/*     Showcase HTML     */

.showcase-card {
  background: rgba(255, 233, 227, .2);
  border-radius: 4px;
  padding: 10px;
}

.showcase-card img {
  height: 150px;
}

.card-text h4 {
  font-size: 14px;
}

.card-text p {
  font-size: 9px;
  margin: 0;
}

/*     Contact HTML     */

.contact-hero-section {
  background-image: url(/Images/contact1.jpg);
  background-position: top;
  background-size: cover;
  border-radius: 4px;
  padding: 60px;
}

.contact-hero-section p {
  color: var(--background-color);
}

.contact-container {
    margin-top: 60px;
  }



/*     BUTTONS     */

/*     Next Button     */

.next-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.next-content button {
  background-color: transparent;
  border: none;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  font-size: 31px;
  height: 80px;
  padding: 5px;
  width: 80px;
}

.next-content button:hover {
  background: #ba8d82;
  transition: all .2s ease;
}

.next-content a {
  color: #91695f;
  text-decoration: none;
}

.next-content a:hover {
  color: aliceblue
}

.round-button {
  border-radius: 70%;
}


/*     Launch button     */

.button-content {
  margin: 50px 0;
}

.launch-button {
  background: transparent;
  border: 2px solid #91695f;
}

.launch-button:hover {
  background: #ba8d82;
  color: aliceblue;
  transition: all .2s ease;
}

.button-content a {
  border-radius: 4px;
  color: #91695f;
  font-size: 12px;
  line-height: 1;
  padding: 10px 15px;
  text-decoration: none;
}

#intro {
  font-family: "Kalam", cursive;
}

#name {
  font-weight: bold;
}


@media (max-width: 400px) {
  h1 {
    font-size: 48px;
  }

  h3 {
    font-size: 16px;
  }

  .hero-section {
      margin-top: 60px;
  }  

  .showcase-card {
    margin-bottom: 15px;
  }

  .showcase-card img {
    margin-top: 20px;
  }
}